body {
	font-family: Arial, sans-serif;
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding: 20px;
	background: #121212;
}
h2 {
	color: #323fd2;
}
h5 {
	color: #d2bd32;
}
li {
	font-family: 'Courier New', Courier, monospace;
	color: rgb(15, 161, 30);
	font-size: 13px;
	text-align: left;
}
