// Base styles
.btn {
	padding: 10px;
	border: none;
	border-radius: 4px;
	text-transform: uppercase;
	font-family: 'Comic Sans MS', cursive;
	font-style: italic;
}

// Primary button style inheriting base styles
.btn-primary {
	@extend .btn;
	background-color: #43a89e;
	color: #ffffff;
}

// Secondary button style inheriting base styles
.btn-secondary {
	@extend .btn;
	background-color: #c85049;
	color: #ffffff;
}
