// Base styles
.btn {
	padding: 10px;
	border: none;
	border-radius: 4px;
	text-transform: uppercase;
}

// Primary button style inheriting base styles
.btn-primary {
	@extend .btn;
	background-color: #062541ed;
	color: #43a89e;
}

// Secondary button style inheriting base styles
.btn-secondary {
	@extend .btn;
	background-color: #c85049;
	color: #ffffff;
}
