<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About Us</title>
		<style>
			body {
				font-family: Arial, sans-serif;
				text-align: center;
				margin: 0;
				padding: 20px;
				background: #121212;
			}
			h1 {
				color: #323fd2;
			}
			p {
				color: #666;
				size: 50px;
			}
		</style>
	</head>
	<body>
		<h1>About</h1>
		<p><b>"It worked on my machine..."</b> - All of us</p>
	</body>
</html>
